<div class="about">
    <h1>About this project</h1>
    <p><b>My Access</b> is an universally accessible login platform that is able to accommodate users with visual, physical or learning disability, having Saint John of God Hospital as our main client.</p>
    <p>The platform provides a storyboard three steps long, based on images and sound descriptions, which include activities familiar to the user (e.g. sports, hobbies, musics). Users must select the most familiar option for them on each step, avoiding the need of password memorization. The combination of their options will be used as their password.</p>
    <p>In order to identify the user without the need of entering a username or email, two initial steps will filter the registered users and them the user must select their photo on a list. The photo used will be gathered from Linkedin or uploaded manually by the user. After the photo selection, two more steps will be used to confirm the user’s password.</p>
    <p>Once the user has logged in, they will be presented with a number of applications that they could log in to automatically, as their credentials would be already be informed during their registration on the platform.</p>
</div>
